# Python
.venv/
.venv-tools/
.venv-test/
.pytest_cache/
.logs/
.setup.lock
.runtime.lock
config.toml
config.toml.tmp
build/
dist/
*.egg-info/
.coverage
htmlcov/
__pycache__/
*.py[cod]

# dir
/models/
/output/
/outputs/
/pt/
/references/
/uploads/

.dS_Store